<h1>Shouts</h1>

<%- if user_signed_in? %>
  <%= form_for [current_user, Shout.new] do |f| %>
  Content: <%= f.text_field :content %>
    <%= f.submit %>
  <% end %>
<% end %>

<h2>List of <%= @user.email %> 's shouts</h2>
<ul>
  <%- @shouts.each do |shout| %>
    <li> <%= shout.content %> </li>
<% end %>
</ul>
